<div class="film-card">
   <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
   <img class="film-img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}" />

   <div class="film-info-block">
      <h2 class="film-title">{{title}}</h2>
      <div class="film-info">

         <div class="film-info-text">
            <p class="film-info-item">Vote / Votes</p>
            <p class="film-info-item">Popularity</p>
            <p class="film-info-item">Original title</p>
            <p class="film-info-item">Genre</p>
         </div>

         <div class="film-info-text-render">
            <p class="film-info-text-rendered"><span class="vote-average">{{vote_average}}</span>/<span
                  class="vote-count">{{vote_count}}</span></p>
            <p class="film-info-text-popularity">{{popularity}}</p>
            <p class="film-info-text-original-title">{{original_title}}</p>
            {{#each genres}}<p class="film-info-text-genres">{{name}}{{/each}}</p>
         </div>

      </div>
      <div class="film-info-overview">
         <p class="film-about">about</p>
         <p class="film-overview">{{overview}}</p>
      </div>

      <div class="button-block">
         <button class="add-to-watched" data-action="add-to-watched" data-id="{{id}}">ADD TO WATCHED</button>
         <button class="add-to-queue" data-action="add-to-queue" data-id="{{id}}">ADD TO QUEUE</button>
      </div>
   </div>
</div>