{{#each this}}
  <li class='movie-card list'>
    <img
      class='movie-card__img'
      src='https://image.tmdb.org/t/p/original{{poster_path}}'
      alt='{{title}}{{name}}'
      data-id='{{id}}'
      {{! Добавлен дата атрибут  }}
    />
    <h2 class='movie-card__title'>{{title}}{{name}}</h2>
    <div class='movie-card__info'>
      <ul class='movie-card__genres list'>
        {{#each genres}}
          <li class='genres-name'>{{name}}</li>
        {{/each}}
      </ul>
      <p class='movie-card__date'>| {{year}}</p>
      <span class='movie-card__rating'>{{vote_average}}</span>
    </div>
  </li>
{{/each}}